.div1 {
  border: 2px solid green;
  background-color: antiquewhite;
  border-radius: 2px;
}

.div2 {
  border: 2px solid red;
  background-color: grey;
  border-radius: 2px;
}

.div3 {
  border: 2px solid yellow;
  background-color: tomato;
  border-radius: 2px;
}