body {
    font-family: 'Arima', sans-serif;
    background-color: #121212;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('D:/infosys springboard_prac/samp1/src/assets/stock-market-chart-technology-blue-background.jpg');
    background-size: cover;
    background-position: center;
}

.login-container,
.signup-container {
    background: linear-gradient(135deg, #1d4e89, #216498);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 450px;
    text-align: center;
    transition: transform 0.3s;
}

.login-container:hover,
.signup-container:hover {
    transform: translateY(-5px);
}

.login-container h1,
.signup-container h1 {
    color: #f0f0f0;
    margin-bottom: 20px;
    font-size: 34px;
}

.login-box,
.signup-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.login-box h2,
.signup-box h2 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

form {
    display: grid;
    gap: 10px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"] {
    padding: 10px;
    border: 1px solid #428794;
    border-radius: 4px;
    font-size: 16px;
    background-color: #216498;
    color: #ffffff;
    transition: border-color 0.3s;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="date"]::placeholder,
input[type="email"]::placeholder {
    color: #b0e0f0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="email"]:focus {
    border-color: #f0c040;
    outline: none;
}

button {
    padding: 10px;
    background-color: #f0c040;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #d3a630;
    transform: scale(1.05);
}

.forgotten-account,
.signup-link,
.login-link {
    text-align: center;
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.forgotten-account:hover,
.signup-link:hover,
.login-link:hover {
    color: #f0c040;
    text-decoration: underline;
}

.dob1 {
    color: #f0f0f0;
    text-align: left;
    padding-left: 10px;
}

.gender {
    gap: 5px;
    color: #f0f0f0;
    text-align: left;
    padding-left: 10px;
}

.gender input {
    margin-right: 5px;
}

.signup-button {
    background-color: #f0c040;
}

.signup-button:hover {
    background-color: #f0c040;
}

.error-message {
    color: #d9534f;
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
}